<%- include('../partials/header.ejs') %>

<section class="logreg_header">
  <div>
    <h1>Stocked Up!</h1>
    <span>The ultimate Silicon Valley stock game!</span>
  </div>
</section>

<section class="logreg_form">
  <p>Om deze game te kunnen spelen moet je inloggen met je Twitter account</p>
  <a class="twitterLogin" href="/twitter">Inloggen met Twitter</a>
</section>

  <%- include('../partials/footer.ejs') %>
