<%- include('./partials/header.ejs') %>

  <main class="homepage">
    <img class="mainImage" src="/images/money.png" alt="Money" />
    <h1>Stocked Up!</h1>
    <p>The ultimate Silicon Valley stock game!</p>
    <a class="cta-open" href="/twitter">Open de Game</a> 
  </main>

<%- include('./partials/footer.ejs') %>
