<%- include('../partials/header.ejs') %>

<main class="dashboard">
  <h1 class="md">Gebruikersovericht</h1>

  <table style="width:50%">
  <tr>
    <th>Username</th>
    <th>Saldo</th>
  </tr>
  <% for (var key in users) { %>
    <tr>
      <td><%= users[key][0] %></td>
      <td>€<%= Number(users[key][1]).toFixed(2) %></td>
    </tr>
  <% } %>
  </table>

  <a class="seeStocks" href="/stock/dashboard">Portfolio</a>
  <a class="logOut" href="/stock">Overzicht</a>

</main>

<%- include('../partials/footer.ejs') %>
